html,
body {
  background-color: white;
  height: 100vh;
}

#socials {
  height: 32px;
  margin-top: 5px;
  margin-right: 4px;
  border-radius: 50%;
}

#progress {
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

#progress-education-bar {
  /* spacing */
  margin: auto;
  margin-top: 0.5em;

  /* sizing */
  width: 50%;
}
