@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
body {
  background-color: white;
  height: 100vh;
  font-family: "Open Sans";
}

/* navbar */
@media (min-width: 1024px) {
  .navbar-start {
    margin-left: calc(12.5% - 52px);
  }
}

#socials {
  padding-bottom: 4px;
}

/* cards */
#card-img {
  /* sizing */
  height: 48px;
}

.card {
  /* spacing */
  margin: auto;
  margin-top: 16px;

  /* sizing */
  width: 75%;
}

.no-bar {
  /* spacing */
  margin-top: 4em;

  /* sizing */
  font-size: larger;
}

.header-icon {
  color: #398fcd;
  width: 32px;
  height: 32px;
}

.card-header-title {
  padding-left: 8px;
}

.page-header {
  padding-left: 0px;
}

/* education */
#progress {
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

#progress-education-bar {
  /* spacing */
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0.5em;

  /* sizing */
  width: 50%;
}
